body {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B1eYNZGrripnnry82/videoblocks-table-at-restaurant-blurred-background_renawuial_thumbnail-full01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
}

#mainSearch {
    padding: 20% 15% 20% 15%;
    border-radius: 50%;
    background-color: rgba(153, 206, 255, .63);
    text-align: center;
}


#Title {
    position: relative;
    color: white;
}

#explanation {
    font-size: 1.75em;
    text-align: center;
}

.result-item {
    font-size: 2em;
}

#enjoy {
    font-size: 3em;
}